#regform {
  margin-top: 100px;
  background-color: rgb(74, 35, 90, 0.5);
  background-image: url('../img/backgroundimg.svg');
}

.form-text{
  display: none;
}

#loginform {
  margin-top: 100px;
  background-color: rgb(74, 35, 90, 0.5);
  background-image: url('../img/backgroundimg.svg');
}

#createbform {
  background-color: rgb(74, 35, 90, 0.5);
  background-image: url('../img/backgroundimg.svg');
}
}


.form-text{
  display: none;
}

#loginform {
  margin-top: 100px;
}

 #mainbase {
  background-color: rgb(93, 173, 226, 0.5);
}

#hompg {
  margin-top: 5000px;
  background-color: rgb(74, 35, 90, 0.5);
}

.card {
  background-color: rgb(74, 35, 90, 0.5)!important;
}
